.wrap {
    position: relative;
    width:1920px;
    height:1080px;
    background-color: #1b386b;
    overflow: hidden;
    outline: 1px solid #ccc;
}
header, aside, .contents {
    display: block;
}
header {
    position: relative;
    width: 100%;
    height: 180px;
    float:left;
    overflow:hidden;
    font-size: 1.75rem; /* 28px */
    font-weight: 600;
    color: #fff;
}
header h1 {
    position: absolute;
    top:0;
    left:0;
}
header h1 a {
    display: block;
    padding: 3.125rem 5rem;
}

header .location_state {
    position: absolute;
    top:38px;
    right:0;
    text-align: right;
    padding: 0 5rem;
}
header .location_state .current{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
nav {
    width: 27.08%;
    height: 689px;
    float: right;
    overflow: hidden;
    font-size: 1.625rem; /* 26px */
    font-weight: 600;
}

nav .dpeth_01 {
    background-image: linear-gradient(#0f2446, #0d2c5c);
}

nav .nav_list_tit {
    height: 4.50rem;
    background-color: #1b386b;
}
nav .dpeth_01 .active {

}
nav .dpeth_01 .active .nav_list_tit {
    background-color: transparent;
}

nav .dpeth_01 > li.active p a {
    color: #fff;
}

nav .dpeth_01 > li > ul {
    display: none;
}

nav .dpeth_01 > li.active > ul {
    display: block;
}

.contents {
   width: 72.92%;
   height:800px;
   float: left;
   background-color: #fff;
   font-size:1.25rem;  /* 20px */
}

aside {
    box-sizing: border-box;
    width: 27.08%;
    overflow: hidden;
}

.setting_area {
    position: absolute;
    right:0;
    bottom:0;
    padding:0 3.75rem
}
.setting_area .seaerch_btn {
    font-size: 2rem; /* 32px */
    color: #fff;
    border: 0;
    background: #6193ba;
    border-radius: 8px;
}
.setting_area .lang {
    font-size: 1.375rem;/* 22px */
}

.setting_area .seaerch_btn, .setting_area .lang {
    width: 100%;
    margin-bottom:1.125rem;
}

.time_area {
    position: absolute;
    left: 0; 
    bottom:0;
    padding: 0 5rem 1.125rem 5rem;
    color:#fff;
    font-size: 2.5rem; /* 40px */
    text-align: center;
}
.time_area .date {
    display: block;
    font-size: 1.25rem;
    margin-bottom: 0.625rem;
}
